html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}


.amount-table {
  /* display: flex;
  flex-direction: column; */
  padding: 0 20px;
}

.amount-table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-table__title {
  text-align: left;
}

.amount-table__container {
  display: flex;
  flex-direction: column;
}

.create-modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}